<div>
  <div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Configurationitem </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="choosenOption">
        <th mat-header-cell *matHeaderCellDef> ChosenOption </th>
        <td mat-cell *matCellDef="let element"> {{element.choosenOption}} </td>
      </ng-container>

      <ng-container matColumnDef="simulationresult">
        <th mat-header-cell *matHeaderCellDef> Simulationresult </th>
        <td mat-cell *matCellDef="let element"> {{element.simulationresult}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <button mat-raised-button color="primary" (click)="restart_process()">Restart</button>
    <button mat-raised-button color="primary" (click)="buy()">Buy</button>
  </div>

</div>
