<form [formGroup]="MotorConfigForm">
  <div formGroupName="coolingsystem">
    <h4>Coolingsystem Configuration</h4>
    <mat-form-field appearance="outline">
      <mat-label>Oilsystem options</mat-label>
      <mat-select formControlName = 'oil_system'>
        <mat-option *ngFor="let opt of Coolingsystem_config.oil_system" [value]="opt">
          {{opt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Coolingsystem options</mat-label>
      <mat-select formControlName = 'cooling_system'>
        <mat-option *ngFor="let opt of Coolingsystem_config.cooling_system" [value]="opt">
          {{opt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div formGroupName="fluidsystem">
  <h4>Fluidsystem Configuration</h4>
  <mat-form-field appearance="outline">
    <mat-label>Fluidsystem options</mat-label>
    <mat-select formControlName = 'fuel_system'>
      <mat-option *ngFor="let opt of Fluidsystem_config.fuel_system" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label>Enhanced Exhaustsystem</mat-label>
  <mat-checkbox formControlName = "exhaust_system"></mat-checkbox>
</div>
<div formGroupName="powertransmissionsystem">
  <h4>Powertransmissionsystem Configuration</h4>
  <mat-label>Resilient Mounts</mat-label>
  <mat-checkbox formControlName = "resilient_mounts"></mat-checkbox>
  <mat-label>Blue Vision</mat-label>
  <mat-checkbox formControlName = "bluevision"></mat-checkbox>
  <mat-label>Torsionally Resilient Coupling</mat-label>
  <mat-checkbox formControlName = "torsionally_resilient_coupling"></mat-checkbox>
  <mat-form-field appearance="outline">
    <mat-label>Gearbox options</mat-label>
    <mat-select formControlName='gearbox_options' multiple>
      <mat-option *ngFor="let opt of Powertransmissionsystem_config.gearbox_options" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div formGroupName="startingsystem">
  <h4>Startingsystem Configuration</h4>
  <mat-label>Airstarter Delux</mat-label>
  <mat-checkbox formControlName = "air_starter"></mat-checkbox>
  <mat-label>Compliancy Check for Engine</mat-label>
  <mat-checkbox formControlName = "engine_management_system"></mat-checkbox>
  <mat-form-field>
    <mat-label>Auxiliary PTO</mat-label>
    <mat-select formControlName="auxiliary_PTO">
      <mat-option *ngFor="let opt of Startingsystem_config.auxiliary_PTO" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <mat-card-actions>
    <button (click)="switchState()" mat-raised-button color="primary">Send Configuration</button>
  </mat-card-actions>
</form>
